body{
    background-color: lightgray;
}
/*NAV BAR*/
.navbar-default{
    background-color: white;
    color: darkslategrey
}
.navbar-default .navbar-nav .active a{
    background-color: rgb(20, 180, 164);
    color: white;
}

@media(max-width: 768px){
    .navbar-default{
        background-color: white;
        color: darkslategrey;
    }
    .navbar-default .navbar-nav .active a{
        background-color: rgb(20, 180, 164);
        color: white;
    }
}

/* LANDING, TEMPERATURE, HUMIDITY, CLOUDINESS, AND WIND SPEED PAGES*/
h1{
    color: rgb(20, 180, 164);
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif
}

h2{
    color: rgb(20, 180, 164);
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif
}

#main-img{
    float: left;
    width: 300px;
    margin-right: 20px;
    margin-bottom: 20px;
}

p{
  font-size: 20px;
  padding: 7px;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;  
}

.main-box{
    padding: 20px;
    background: white;
    margin-top: 30px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 20px;
    align-content: center;
    position: relative;
}

.side-box{
    background: white;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 30px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 30px;
    align-content: center;
    position: relative;
}

.sidebar{
    position: relative;
    height: 350px;
    width: 385px;
    align-content: center;
}

#side-img1{
    position: absolute;
    top: 0;
    left: 0;
    height: 160px;
    width: 160px;
    border: 3px solid white;
}
#side-img1:hover{
    border: 3px solid rgb(20, 180, 164);
}

#side-img2{
    position: absolute;
    top: 0;
    right: 0;
    height: 160px;
    width: 160px;
    border: 3px solid white;
}

#side-img2:hover{
    border: 3px solid rgb(20, 180, 164);
}

#side-img3{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 160px;
    width: 160px;
    border: 3px solid white;
}

#side-img3:hover{
    border: 3px solid rgb(20, 180, 164);
}

#side-img4{
    position: absolute;
    bottom: 0;
    right: 0;
    height: 160px;
    width: 160px;
    border: 3px solid white;
}

#side-img4:hover{
    border: 3px solid rgb(20, 180, 164);
}

@media(max-width: 995px){
    .sidebar{
    position: relative;
    height: 145px;
    width: auto;
    }
    #side-img1{
        float: left;
        position: relative;
        width: 25%;
        border: 3px solid white;
    }
    #side-img1:hover{
        border: 3px solid rgb(20, 180, 164);
    }
    #side-img2{
        float: left;
        position: relative;
        width: 25%;
        border: 3px solid white;
    }
    #side-img2:hover{
        border: 3px solid rgb(20, 180, 164);
    }
    #side-img3{
        float: left;
        position: relative;
        width: 25%;
        border: 3px solid white;
    }
    #side-img3:hover{
        border: 3px solid rgb(20, 180, 164);
    }
    #side-img4{
        float: left;
        position: relative;
        width: 25%;
        border: 3px solid white;
    }
    #side-img4:hover{
        border: 3px solid rgb(20, 180, 164);
    }
    
}
/*FOOTER*/
.bottom-footer {
    background-color: slategrey;
    margin-top: 20px;
    padding-top: 25px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
    border-top: 10px solid rgb(20, 180, 164);
    line-height: 25px;
}
#footer-txt{
    margin: 0;
    color: white;
}
/*TEMPERATURE, HUMIDITY, CLOUDINESS, WIND SPEED IND. PAGE IMAGE*/
#result-img{
    width: 500px;
    max-width: 100%;
    
}
/*IMAGES ON THE COMPARISON PAGE*/
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*TABLE*/
table{
    border-collapse: collapse;
    border: 0;
}

th, td{
    border: 0;
}

@media(max-width: 760px) {
    table{
        overflow-x: scroll;
        display: block;
    }
}